In [6]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import json

In [16]:
candidate_classes_dbpedia_df = pd.read_csv('candidate_classes_dbpedia_df.csv')
candidate_classes_dbpedia_df = candidate_classes_dbpedia_df.set_index('item')
candidate_classes_dbpedia_df

                                 dbpedia_class
item
Lorenzo Thomas                          Person
Lorenzo Thomas                           Agent
Lorenzo Thomas                  MilitaryPerson
Artaxerxes II                              NaN
Connecticut                              Place
...                                        ...
Marquise Hill           AmericanFootballPlayer
Marquise Hill                          Athlete
Marquise Hill           GridironFootballPlayer
Corten                                     NaN
Jervis shopping centre                     NaN

[3144 rows x 1 columns]

In [9]:
with open('wiki_class_priority_UNER_dict_list.json','r') as f:
    UNER_classes = json.load(f)

In [66]:
for entry in UNER_classes:
    if entry['title'] == '':
        continue
    classes = candidate_classes_dbpedia_df.loc[entry['title']]['dbpedia_class']
    if type(classes) == float and np.isnan(classes):
        entry['dbpedia_classes'] = 'None'
    elif type(classes) == str:
        entry['dbpedia_classes'] = [classes]
    else:
        entry['dbpedia_classes'] = list(classes)

In [72]:
candidate_classes_uner_dbpedia_df = pd.DataFrame(UNER_classes)
candidate_classes_uner_dbpedia_df[candidate_classes_uner_dbpedia_df['dbpedia_classes'] != 'None']

,title,candidates,chosen_one,dbpedia_classes
0,Lorenzo Thomas,"[[Name-Person-Name, 3], [Name-Person-Name, 3],...","[[3, Name-Person-Name]]","[Person, Agent, MilitaryPerson]"
2,Connecticut,"[[Name-Location-GPE-GPE_Other, 4]]","[[4, Name-Location-GPE-GPE_Other]]","[Place, Location, AdministrativeRegion, Popula..."
4,Krugersdorp,"[[Name-Location-GPE-City, 5], [Name-Location-G...","[[5, Name-Location-GPE-City]]","[Place, Location, City, PopulatedPlace, Settle..."
6,Kurung Kumey district,"[[Name-Location-GPE-GPE_Other, 4]]","[[4, Name-Location-GPE-GPE_Other]]",[Settlement]
7,Uganda Martyrs,"[[Name-Organization-Show_Organization, 5]]","[[5, Name-Organization-Show_Organization]]",[Band]
...,...,...,...,...
1200,Robert Zemeckis,"[[Name-Person-Name, 3], [Name-Person-Name, 3],...","[[3, Name-Person-Name]]","[Person, Agent]"
1201,James Counsilman,"[[Name-Person-Name, 3], [Name-Person-Name, 3],...","[[3, Name-Person-Name]]","[Person, Agent, Coach, CollegeCoach, Swimmer]"
1202,Battle of Dak To,"[[Name-Event-Historical_Event, 2], [Name-Event...","[[4, Name-Event-Occasion-MilitaryConflict]]","[Event, MilitaryConflict, SocietalEvent, Telev..."
1204,Garden House riot,"[[Name-Disease, 2]]","[[2, Name-Disease]]",[Disease]
1205,Marquise Hill,"[[Name-Person-Name, 3], [Name-Person-Name, 3],...","[[3, Name-Person-Name]]","[Person, Agent, AmericanFootballPlayer, Athlet..."

In [73]:
candidate_classes_uner_dbpedia_df.to_csv('candidate_classes_uner_dbpedia_df.csv', index=False)